.featured-movie-container{
    background-color: rgb(7, 7, 7);
    z-index: 1;
    position: relative;
    // margin-bottom: 40px;
    height: 100vh;
    // border: 5px solid red;
    display: flex;
    flex-direction: column;

    video{
        // border: 4px solid rgb(10, 5, 255);
        position: absolute;
        width: 100%;
        // height: 100%;
        // size: 100%;
        z-index: -2;

    }

    img{
         position: absolute;
        width: 100%;
        // height: 100%;
        // size: 100%;
        z-index: -2;
    }
}

.featured-movie-content{
    
    // border: 5px solid rgb(0, 255, 106);
    margin-top: 20%;
        z-index: 5;
    width: 100%;
}
.featured-tile-des{
    color: white;
    display: flex;
        z-index: 5;

    flex-direction: column;
}

.featured-button{
    z-index:  10;
    display: flex;
    justify-content: space-between;
}


.features-play-info{
    // border: 5px solid red;
    margin-left: 60px;
    width: 500px;
    display: flex;
        z-index: 10;

    align-content: center;
    justify-content: flex-start;
    // margin-top: 10px;
     margin-bottom: 5px;
     cursor: pointer;
    
    

    .play-btn{
        // border-radius: 3px;
        // margin-top: 1vw;
        // border: none;
        // font-size: 1vw;
        font-weight: bold;
        z-index: 10;
        display: flex;
        width: 120px;
        margin-left: 38px;
        margin-right: 10px;
        font-size: 18px;
        // width: 120px;
        border-radius: 10px;
        letter-spacing: 1px;
        padding: 10px 20px;

        cursor: pointer;
        align-items: center;
        justify-content: center;
        border: none;

        span{
            margin-left: 5px;
            font-family: Helvetica;
        }
        &:hover{
                    background: rgb(212, 212, 212);

        }
       
    }

    .info-btn{
        margin-right: 10px;
        font-size: 30px;
        width: 180px;
        background: rgba(131, 132, 127, 0.3);
        // opacity: .7;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        border-radius: 10px;
        font-weight: bold;
        cursor: pointer;
        border: none;
        z-index: 10;

        padding: 10px 20px;
        span{
            margin-left: 5px;

            font-family: Helvetica;
        }

        &:hover{
                    background: rgba(131, 132, 127, 0.1);

        }

        

    }

}   
.featured-replay{
        font-size: 30px;
z-index: 10;
// border: 5px solid red;
// width: 500px;
display: flex;
align-content: center;
justify-content: flex-start;
margin-top: 10px;
margin-right: 190px;
margin-bottom: 5px;

    button{
height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid rgb(68, 68, 68);
    color: rgb(255, 255, 255);
    background: none;
    // z-index: 3;
    cursor: pointer;
    border-color: white;
    font-weight: 100;
                            // background-color: #ffffff;
    // background-color: #2C2C2E;
     font-size: 20px;
     margin-right: 5px;
    }


}

.featured-tile-des{
// border: 5px solid gold;
margin-left: 5vw;
display: flex;
width: 30%;
// height: 200px;
justify-content: center;
// align-content: center;
align-items: center;
flex-direction: column;
margin-bottom: 20px;



.feature-title
{   
    // display: flex;
    // justify-content: center;
    // margin-left: 50px;
    // border: 5px sold red;
    font-weight: lighter;

    font-size: 60px;
                font-family: helvetica;


}
}


.feature-description{
    margin-top: 20px;
    // margin-left: 100px;
    // font-size: 20px;
                color: white;
                font-size: 20px;
                font-weight: lighter;
                letter-spacing: 1px;
                line-height: 25px;
                font-family: helvetica;
}

.play-arrow{
    // size: 30px;
}