body{
    background-color: #141414;
    width: 100%;
    height: 100%;
    position: absolute;
    // border: 5px solid black;
}
.profile-container{
    // border: 5px solid red;
    margin: 0 auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    // padding-top: 10%;
    margin-top: 50px;
    
}

.profile-list{
    // margin-top: 0;
    min-width: 100px;
   text-align: center;
    color: white;
    // width: 100%;
    justify-content: center;
    // border: 5px soild rgb(255, 255, 255);
    display: flex;
    // flex-direction: row;
    // justify-content: spac;
    // margin: 20px;

    padding: 5px;
    // border: 5px solid rgb(38, 21, 194);

        
}
.add-img{
    margin-top: 40px;
}

// .ul-list-profile{
//     border: 5px solid rgb(0, 255, 64);
//     display: flex;
//     flex-direction: column;
//     justify-content: space-evenly;


// }

.ul-list-profile ul {
    margin: 20px;

    // border: 5px solid red;
    display: flex;
    justify-content: center;
    // flex-direction: column;

}

.ul-list-profile li {
    
    // border: 5px solid rgb(8, 255, 173);
    display: flex;
    justify-content: center;
    // margin-right: 10px;
    // margin-top: 20px;
    // margin-bottom: 20px;
    margin: 20px;
    // justify-content: space-evenly;
    // flex-direction: column;

}
.ul-list-profile-manage ul{
    margin: 20px;

    // border: 5px solid red;
    display: flex;
    justify-content: center;
}
.ul-list-profile-manage li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    // margin-right: 10px;
    // margin-top: 20px;
    // margin-bottom: 20px;
    margin: 20px;
}
// .profile-list ul{
//     border: 5px solid red;
//     width: 200px;
//     justify-content: space-evenly;
//     margin-right: 20px;
//     display: flex;

// }
.p-list{
    margin: 5px;
    // margin-right: 10px;
}
.manage-container{

    display: flex;
    justify-content: center;
    // border: 4px solid red;
    margin: 0 auto;
    margin-top: 60px;

    .manage-profile {
    border: 1px solid gray;
    color: gray;
    background: none;
    cursor: pointer;
    font-weight: 200;
    // padding: 5px;
    // background-color: rgb(68, 68, 68,);
    font-size: 30px;
}
}
.manage-profile {
    border: 1px solid gray;
    color: gray;
    background: none;
    cursor: pointer;
    font-weight: 200;
    background-color: rgb(68, 68, 68,);
    font-size: 30px;
    // margin-bottom: 100;
}


.profile-header{
    display: flex;
    justify-content: center;
    // border: solid 4px red;
    font-size: 50px;
    color: white;
    margin-top: 20px;
    margin-bottom: 0;
}

.manage-profile{
    color: white;
}
// .profile-index-item-container{
//     display: flex;
//     margin: auto;
//     justify-content: center;
//     align-items: center;
//     // border: 4px solid red;
// }
.profile-index-item-container img:hover{
    // border: 2px solid white;
    box-shadow:  0 0 0 2px #ffffff
    

}


.add-img img:hover{
    box-shadow:  0 0 0 2px #ffffff
}
.manage-container:hover{
    border: white;
}
.manage-profile:hover{
        color: white;
}

.profile-form-container{
    border: 4px sold red;
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
     margin-top: 220px;  
}
.edit-title{
    display: flex;
    justify-content: center;
    width: 100%;
    border-bottom: 2px solid rgba(128, 128, 128, .5);
}

.edit-title h1{
     font-size: 50px;
     margin-bottom: 15px;
     color: white;
}

.edit-content{
    // border: 4px solid red;
    margin: 0 auto;
    padding-top: 10%;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.profile-form{
    // border: 4px solid red;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
}
.input-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
}
.profile-form img {
    // border: 4px solid red;

     width: 150px;
    height: auto;
    border-radius: 5px;
    margin-right: 20px;
}

.form-input {
    border: 5px solid red;
    position: relative;
    width: 400px;
    height: 45px;
    background: gray;
    border: none;
    color: white;
    font-size: 24px;
}

.form-buttons{
    // border: 4px solid red;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    border-top: 2px solid rgba(128, 128, 128, .5);
}
.done-button{
    color: black;
    background: white;
    // margin-top: 8%;
    padding: 10px;
    width: 100px;
    cursor: pointer;
    font-size: 20px;
}
.done-button:hover{
    background: red;
    color: white;
}
.save-button{
    color: black;
    background: white;
    margin-top: 8%;
    padding: 10px;
    width: 100px;
    cursor: pointer;
    font-size: 20px;
}
.save-button:hover{
    background: red;
    color: white;
}

.cancel-button{
    color: gray;
    border: 1px solid gray;
    background: none;
    width: 130px;
    margin-top: 8%;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}
.cancel-button:hover{
    border: 1px solid white;
    color: white;
}

.delete-button{
 color: gray;
    background: none;
    margin-top: 8%;
    width: 200px;
    border: 1px solid gray;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}

.delete-button:hover{
    border: 1px solid white;
    color: white;
}

.create-container{
    margin: 0 auto;
    padding-top: 10%;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.create-button{
    color: black;
    background: white;
    margin-top: 8%;
    padding: 10px;
    width: 140px;
    cursor: pointer;
    font-size: 20px;
}

.create-button:hover{
    background: red;
    color: white;
}