body {
  margin: 0; 
  // overflow: hidden;
  // z-index: -2;
  // left: 0;
  // top: 0;
  // bottom: 0;
  // right: 0;
  // background-color: rgba(0,0,0,0.6);
}

.logo{
    margin-left: 5%;
    margin-top: .9%;
    
  }
.splash-content {
  // border: 10px solid yellow;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // .third-splash-section{
  // border: 5px solid orange;
  // margin-top: 40%;
  // color: white;
  // background-color: black;
  
  .splash-modal-content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  // border: 5px solid darkcyan;
  // text-align: center;
  // // position: absolute;
  // // margin: 15% auto;
  margin-top: 1800px;
  // z-index: 0;
  // background-color: transparent;
  // padding: 20px;
  // width: 60%;
  // color: white;
  

  .unlimited-movie{
    padding-left: 100px;
    padding-top: 130px;
    display: flex;
    font-family: Helvetica;
    font-weight: bold;
    color: #fff;
    margin: auto;
    justify-content: center;
    // text-align: center;
    word-wrap: break-word;
    white-space: normal;
    // line-break: ;
    // flex-wrap: wrap-reverse;
    // border: 5px solid blue;
    font-size: 50px;
    inline-size: 550px;
    color: white;
  }
  .watch-anywhere{
    padding-top: 20px;
    font-size: 26px;
    // padding-bottom: 40px;
    font-family: Helvetica;
    font-weight: bold;
    color: #fff;
    margin: auto;
    color: rgba(255, 255, 255, 0.8); 
  
  }

  .sign-up-container{
    // border:  6px solid orange;
    margin: auto;
    // position: relative;
    // padding: 30px;
    // overflow-wrap: none;
    display: flex;
  }
  .sign-up-input{
    // position: static;
    // border: 6px solid yellow;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    font-size: 16px;
    padding: 25px;
    width: 450px;
    // margin: auto;
    // margin-left: 20px;
    &:focus{
      outline: none;
    }
  }
  .greeting-btn {
    // position: absolute;
    // display: block;
    text-align: center;
    width: 200px;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 25px;
    // padding-right: 100px;
    // padding-bottom: 28x;
    // padding-top: 28px;
    // margin: 5px;
    background-color: red;
    border-radius: 4px;
    text-decoration: none;
    font-family: Helvetica;
    // font-weight: bold;
    color: #fff;
    font-weight: lighter;
    border: none;
    
    // margin-left: 20px;
    
    &:hover{
      background-color: #f7252f;
    }
  
  
  
  // h1 {
  //   font-family: sans-serif;
  //   font-size: 50px;
  //   // padding: 20px;
  // }
  
  // h2 {
  //   font-size: 30px;
  //   padding-bottom: 40px;
  //   font-family: sans-serif;
  // }
  
  

}
h3 {
    color: white;
    margin: auto;
    padding-top: 25px;
    padding-bottom: 25px;
    font-family: Helvetica;
    font-weight: bold;
    color: #fff;
    // font-family: helvetica;
  }
}


.second-splash-section{
  // position: absolute;
  background-color: black;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 170px;
  // padding: 100px;
  color: white;
  border-bottom: 9px solid #222;
    border-top: 9px solid #222;


    .splash-second-contents{
      font-size: 25px;
      display: flex;
      max-width: 500px;
      flex-direction: column;
      align-content: flex-start;
      justify-content: space-between;
      margin: 0;
      padding: 0;
      bottom: 0;
      align-items: stretch;
      align-content: stretch;
      inline-size: 700px;
      margin-bottom: 70px;
      margin-right: 200px;
      // border: 5px solid red;

      .download-shows{
        margin-top: 100px;
        margin-bottom: 0px;
        display: flex;
      }

      .save-favorites{
            font-family: Helvetica;
        font-weight: bold;
    color: #fff;
        font-size: 23px;
         color: rgba(255, 255, 255, 0.9);
        display: flex;
      }
    }
    .vid-con{
      margin-top: 80px;
      margin-bottom: 80px;
    }
}
.third-splash-section{
  // position: absolute;
  background-color: black;
  width: 100%;
  display: flex;
  flex-direction: row;
  // justify-content: space-between;
  justify-content: center;
  align-items: center;
  // align-content: flex-start;
  // margin-top: 200px;
  // padding: 100px;
  color: white;
    border-bottom: 9px solid #222;

  // height: 700px;

    .splash-third-contents{
      // border: 5px solid red;

      // padding-top: 100px;
      font-size: 25px;
      display: flex;
      max-width: 500px;
      // margin-left: 200px;
      // flex-wrap: nowrap;
      flex-direction: column;
      align-content: flex-start;
      justify-content: space-between;
      margin: 0;
      padding: 0;
      bottom: 0;
      align-items: stretch;
      align-content: stretch;
      // justify-content: center;
      // border: 5px solid salmon;
      // margin-right: 400px;
      // transform: translate(-350px);
      inline-size: 700px;
      // height: 400px;
      //  min-width: 0;
      margin-bottom: 70px;
      margin-right: 200px;

    }
    .text-section{
    border: 5px solid red;

    }
    .enjoy-tv{
    // border: 5px solid red;

      // text-align: center;
      // border: 5px solid blue;
      margin-top: 100px;
      margin-bottom: 0px;
      display: flex;
      // justify-content: center;
    }

    .smart-tv{
      // margin-top: 0px;
          font-family: Helvetica;
          // font-weight: bold;
    color: #fff;

      font-size: 23px;
      // margin-bottom: 5;
      // width: 400px;
       color: rgba(255, 255, 255, 0.9); 
      // border: 5px solid white;
      display: flex;
      // justify-content: center;
    }
}
.fourth-splash-section{
  // position: absolute;
  background-color: black;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  // margin-top: 200px;
  // padding: 100px;
  color: white;
   border-bottom: 9px solid #222;


    .splash-fourth-contents{
      font-size: 25px;
      display: flex;
      max-width: 500px;
      flex-direction: column;
      align-content: flex-start;
      justify-content: space-between;
      margin: 0;
      padding: 0;
      bottom: 0;
      align-items: stretch;
      align-content: stretch;
      inline-size: 700px;
      margin-bottom: 70px;
      margin-right: 200px;

      .download-shows{
        margin-top: 100px;
        margin-bottom: 0px;
        display: flex;
      }

      .save-favorites{
            font-family: Helvetica;
          font-weight: bold;
    color: #fff;
        font-size: 23px;  
         color: rgba(255, 255, 255, 0.9);
        display: flex;
      }
    }
    .vid-con{
      margin-top: 80px;
      margin-bottom: 80px;
    }
}
.fifth-splash-section{
  // position: absolute;
  background-color: black;
  width: 100%;
  display: flex;
  flex-direction: row;
  // justify-content: space-between;
  justify-content: center;
  align-items: center;
  // align-content: flex-start;
  // margin-top: 200px;
  // padding: 100px;
  // color: white;
  // box-shadow: gold;
  border-bottom: 9px solid #222;
  // border: 4px solid darkgray;
  // height: 700px;

    .splash-fifth-contents{
      // padding-top: 100px;
      font-size: 25px;
      display: flex;
      max-width: 500px;
      // margin-left: 200px;
      // flex-wrap: nowrap;
      flex-direction: column;
      align-content: flex-start;
      justify-content: space-between;
      margin: 0;
      padding: 0;
      bottom: 0;
      align-items: stretch;
      align-content: stretch;
      // justify-content: center;
      // border: 5px solid salmon;
      // margin-right: 400px;
      // transform: translate(-350px);
      inline-size: 700px;
      // height: 400px;
      //  min-width: 0;
      margin-bottom: 70px;
      margin-right: 220px;
      margin-left: 220px;

    }
    .enjoy-tv{
      // text-align: center;
      // border: 5px solid blue;
      margin-top: 100px;
      margin-bottom: 0px;
      display: flex;
      // justify-content: center;
    }

    .smart-tv{
      // margin-top: 0px;
         font-family: Helvetica;
        //  font-weight: bold;
    color: #fff;

      font-size: 23px;
      // margin-bottom: 5;
      // width: 400px;
      //  color: rgba(255, 255, 255, 0.9); 
      // border: 5px solid white;
      display: flex;
      // justify-content: center;
    }
}
}
  


.splash-bg {
  // border: 5px solid red;
  z-index: -3;
  position: absolute;
  top: 0;
  left: 0;
  // right: 0;
  // height: 100vh;
  width: 100%;
  height: 100%;
  object-fit: cover;
  // background-repeat: no-repeat;
  // background-attachment: fixed;
}



.sign-up-button-container{
  margin-right: 50px;
  margin-top: 1.3%;
  display: flex;
  float: right;
  justify-content: center;
  width: 100px;

.splash-login-btn {
 color: white;
  text-align: center;
    padding: 9px;
    width: 70px;
    background-color: #DB202C;
    border-radius: 4px;
    text-decoration: none;
        font-family: Helvetica;
        font-weight: lighter;
    // color: #fff;

    // font-weight: 600;
    &:hover{
      background-color: #f7252f;
    }
}

}

.overlay {
  // border: 5px solid green;
  display: flex;
  justify-content: center;
  position: absolute;
  flex-direction: row-reverse;
  z-index: -2;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,.75); 
  }

  

  footer{
    // background-color: rgb(168, 4, 4);
    border-top: 9px solid #222;

      margin: 0 100px;
      padding: 50px 45px 20px;

        .splash-footer{
           padding: 0 0 20px;
        // display: block;
        // width: 100%;
        // border: 4px solid red;
        // background-color: rgb(58, 58, 58)
        p {
              margin: 0 0 30px;
              font-size: 30px;
              color: #757575;
            }

            ul {
              max-width: 500px;
              font-size: 15px;
              display: flex;
              justify-content: flex-start;
 
              li {
                margin-right: 50px;
              }
              li > a {
                text-decoration: none;
                color: #757575;
              }
            }
    }
  }

  .download-shows{
        margin-top: 100px;
        margin-bottom: 0px;
        display: flex;
      }

      .save-favorites{
            font-family: Helvetica;
        font-weight: bold;
    color: #fff;
        font-size: 23px;
        //  color: rgba(255, 255, 255, 0.9);
        display: flex;
      }